{% extends '@EkynaAdmin/Entity/layout.html.twig' %}

{% block page_title %}{{ 'media.label.plural'|trans({}, 'EkynaMedia')|raw }}{% endblock page_title %}

{% block title %}
    <h1>{{ 'media.header.list'|trans({}, 'EkynaMedia')|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock actions %}

{% block main %}
    {{ render_media_manager() }}
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript">window.VIDEOJS_NO_DYNAMIC_STYLE = true;</script>#}
    <script type="text/javascript">
        require(['ekyna-media/browser'], function(MediaBrowser) {
            new MediaBrowser('#media-browser').init();
        });
    </script>
{% endblock javascripts %}
