/* Media Choice Form Widget */

.ekyna-media-choice {
    height: 120px;
    width: 120px;
}

.has-error .ekyna-media-choice {
    border: 1px solid #a94442;
}

/* Media Collection Form Widget */

.ekyna-media-collection {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 0 0 12px;
}

.has-error .ekyna-media-collection {
    border: 1px solid #a94442;
}

.ekyna-media-collection-media {
    height: 120px;
    width: 120px;
    margin: 0 12px 12px 0;
    float: left;
}

.ekyna-media-collection-placeholder {
    height: 120px;
    width: 120px;
    margin: 0 12px 12px 0;
    float: left;
    border: 1px dotted #ccc;
}

/* Media Upload Form Widget */

.ekyna-media-upload-drop-zone {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px dashed #bbb;
    border-radius: 5px;
    color: #bbb;
    font-size: 20px;
    margin: 0 0 15px 0;
    padding: 20px;
    text-align: center;
}

.ekyna-media-upload-drop-zone.dragging {
    border: 2px dashed #999;
    color: #999;
}

.ekyna-media-upload {
    position: relative;
    overflow: hidden;
}

.ekyna-media-upload .file-input-button {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 21px 0;
    font-size: 20px;
}

.ekyna-media-upload-input {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.ekyna-media-upload .ekyna-collection > ul > li {
    padding: 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ekyna-media-upload > ul > li.has-error {
    border: 1px solid #a94442;
}

.ekyna-media-upload .translations-forms {
    border-bottom: none;
}

.ekyna-media-upload .ekyna-collection-child-form .form-group:last-child {
    margin-bottom: 0;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .ekyna-media-upload-input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
