#media-manager {
    position: relative;
    min-width: 320px;
    min-height: 320px;
    margin: 0 auto 0 auto;
    background: white;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
}

#media-manager-tree {
    float: left;
    min-height: 320px;
    min-width: 319px;
    overflow: auto;
    padding: 0;
}

#media-manager-list {
    min-height: 320px;
    margin-left: 320px;
    box-shadow: inset 0 0 4px #ccc;
}

ul.fancytree-container {
    border: none !important;
}