{% use '@EkynaAdmin/Show/show_div_layout.html.twig' %}

{% block media_media_widget -%}
{% apply spaceless -%}
    {{ value|media_thumb }}
{%- endapply %}
{%- endblock media_media_widget %}


{% block media_medias_widget -%}
{% apply spaceless -%}
    {% set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) %}
    <div{{ block('widget_attributes') }}>
        {% for media in value %}
            {{ media|media_thumb }}
        {% else %}
            {{ null|media_thumb }}
        {% endfor %}
    </div>
{%- endapply %}
{%- endblock media_medias_widget %}
