{% twig_js name="media_browser_media" %}
<div class="media-thumb">
    <div class="thumb" data-role="select">
        <img src="{{ media.thumb }}">
    </div>
    <div class="controls">
        <a href="#" data-role="remove" class="glyphicon glyphicon-trash"></a>
        <a href="#" data-role="edit" class="glyphicon glyphicon-pencil"></a>
        <a href="#" data-role="download" class="glyphicon glyphicon-download"></a>
        {#<a href="#" data-role="show" class="glyphicon glyphicon-eye-open"></a>#}
    </div>
    <div class="name" data-role="select">{{ media.title }}</div>
</div>